ion-content.background{
  --background:url(../../assets/fondo.png) center no-repeat;
}
ion-toolbar{
  text-align: center;
  --background: rgb(0, 0, 0);
  color: white;
}
#container {
text-align: center;

position: absolute;
left: 0;
right: 0;
top: 50%;
transform: translateY(-50%);
}

#version{
  color: black;
}