<ion-header>
  <ion-toolbar>
    <ion-title>Code QR Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div id="container">
    
    <ion-button size="medium" color="dark" (click)="scan(1)"><!-- llamada a scanear -->
      <ion-icon name="sunny"></ion-icon>
      Matutina
    </ion-button>
  
    <ion-button size="medium" color="dark" (click)="scan(2)"><!-- llamada a scanear -->
      <ion-icon name="partly-sunny"></ion-icon>
      Vespertina
    </ion-button>
        
    <!-- <div *ngIf="scandata">
      <p>scanned text:</p>
      <p>scanned format:</p>
    </div> -->
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button size="small" [routerLink]="['/home']" >
      <ion-icon name="home"></ion-icon> 
    </ion-button>
  </ion-toolbar>
</ion-footer>
