<ion-header class="center">
  <ion-toolbar>
    <ion-title>Código Generado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div id="container">
    <strong> Este es tu código: </strong>
    <br>
    <!-- image code -->
    <ion-card id="code">
      <img src="../../assets/frame.png" alt="">
    </ion-card>
    <!-- button home -->
    <ion-button size="small" color="dark" [routerLink]="['/home']" class="pos">
      <ion-icon name="home"></ion-icon> 
    </ion-button>
  </div>
</ion-content>
