<ion-header class="center">
  <ion-toolbar>
    <ion-title>Pase de Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">

  <div id="container">
    <strong>Bienvenido</strong><br>
    <!-- user icon -->
    <ion-icon name="person-circle" style="font-size: 95px; color: rgb(7, 44, 94);"></ion-icon>
    <!-- input -->
    <ion-item class="color" type="number">
      <ion-label position="floating">Ingresa tu matricula</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <!-- valid button -->
    <ion-button expand="block" color="dark" [routerLink]="['/index']" class="validar">Ingresar</ion-button>  
    <!-- scan button -->
    <ion-button expand="block" color="dark" [routerLink]="['/scan']" class="validar">Scan</ion-button>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button size="small" [routerLink]="['/about']" class="about">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>